@charset "UTF-8";
.btn.btn-outline-secondary{
    width: 50px;
    font-size: 30px;
    font-weight: bolder;
    border-color: rgba(0, 0, 0, 0.061);
}
.btn.btn-outline-secondary:hover {
    border-color: rgba(100, 155, 250, 1);
    background-color: rgba(100, 155, 250, 0.2);
    color: initial;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btnGroupAddon {
    width: inherit;
}
#res {
    width: 200px;
    margin-right: 8px;
    overflow-x: hidden;
}
h1 {
    margin: 30px;
    text-align: center;
}
#areaTexto {
    border: none;
    width: 144px;
    background-color: rgba(100, 155, 250, 0.2);
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
#del {
    height: 42px;
    font-size: 24px;
    margin-right: 4px;
    padding: 0;
}
h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
p {
    word-wrap: break-word;
    text-wrap: wrap;
}
aside {
    overflow: hidden;
}
@media (min-width: 588px) {
    main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    aside {
        max-width: 220px;
        max-height: 310px;
    }
    h2 {
        margin-top: 4px;
    }
}